demo:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    host: localhost
    port: 3306
    database: second-hand
    username: root
    password: 1234



  redis:
    host: localhost
    port: 6379
    database: 2
    enabled: true
