<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.UserMapper">
    <select id="selectUsers" resultType="com.demo.entity.User">
        SELECT * FROM users
        WHERE 1=1

        <!-- keyword参数对应DTO的keyword字段 -->
        <if test="keyword != null and keyword != ''">
            AND (username LIKE CONCAT('%', #{keyword}, '%')
            OR mobile LIKE CONCAT('%', #{keyword}, '%')
            OR email LIKE CONCAT('%', #{keyword}, '%'))
        </if>

        <!-- startTime对应DTO的startTime字段 -->
        <if test="startTime != null">
            AND create_time >= #{startTime}
        </if>

        <!-- updateTime对应DTO的endTime字段 -->
        <if test="endTime != null">
            AND update_time &lt;= #{endTime}
        </if>

        ORDER BY create_time DESC
    </select>
    <select id="selectById" resultType="com.demo.entity.User">
    SELECT * FROM users WHERE id = #{id} AND is_deleted = 0 LIMIT 1
    </select>

    <select id="selectByMobile" resultType="com.demo.entity.User">
        SELECT * FROM users WHERE mobile = #{mobile} LIMIT 1
    </select>

    <select id="selectByEmail" resultType="com.demo.entity.User">
        SELECT * FROM users WHERE email = #{email} LIMIT 1
    </select>

    <select id="selectIsSellerById" resultType="java.lang.Integer">
        SELECT is_seller FROM users WHERE id = #{userId}
    </select>

    <update id="updateStatus">
        UPDATE users
        SET status = #{status},
            update_time = #{updateTime}
        WHERE id = #{userId}
    </update>
    <update id="updateProfile" parameterType="com.demo.entity.User">
        UPDATE users
        <set>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="bio != null">bio = #{bio},</if>
            update_time = #{updateTime}
        </set>
        WHERE id = #{id}
    </update>
    <update id="updatePassword">
        UPDATE users
        SET password = #{password},
            update_time = #{updateTime}
        WHERE id = #{userId}
    </update>
    <update id="updateMobile">
        UPDATE users
        SET mobile = #{mobile},
            update_time = #{updateTime}
        WHERE id = #{userId}
    </update>
    <update id="updateEmail">
        UPDATE users
        SET email = #{email},
            update_time = #{updateTime}
        WHERE id = #{userId}
    </update>

    <update id="updateCredit">
        UPDATE users
        SET credit_score = #{creditScore},
            credit_level = #{creditLevel},
            credit_updated_at = #{creditUpdatedAt},
            update_time = #{creditUpdatedAt}
        WHERE id = #{userId}
    </update>


    <insert id="insertUser" parameterType="com.demo.entity.User">
        INSERT INTO users
        (username, nickname, password, mobile, email, avatar, bio,
         credit_score, credit_level, credit_updated_at,
         status, create_time, update_time)
        VALUES
            (#{username}, #{nickname}, #{password}, #{mobile}, #{email}, #{avatar}, #{bio},
             #{creditScore}, #{creditLevel}, #{creditUpdatedAt},
             #{status}, #{createTime}, #{updateTime})
    </insert>

</mapper>