<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.UserBanMapper">

    <!-- SQL：insertUserBan，insert 语句用于对应 Mapper 方法的数据访问。 -->
    <insert id="insertUserBan"
            parameterType="com.demo.entity.UserBan"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO user_bans
        (user_id, ban_type, reason, source, start_time, end_time, created_by, create_time)
        VALUES
            (#{userId}, #{banType}, #{reason}, #{source}, #{startTime}, #{endTime}, #{createdBy}, #{createTime})
    </insert>

    <!-- SQL：closeActiveBans，update 语句用于对应 Mapper 方法的数据访问。 -->
    <update id="closeActiveBans">
        UPDATE user_bans
        SET end_time = #{now}
        WHERE user_id = #{userId}
          AND (end_time IS NULL OR end_time > #{now})
    </update>


</mapper>
